<header>
  <nav class="top-nav blue-grey darken-1">
    <div class="container">
      <div class="col s12">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
            <span class="page-title brand-logo center">{{ page.posttitle }}</span>
          </ul>
          <ul id="slide-out" class="blue-grey darken-2 side-nav fixed">
              <li class="logo">
                <a class="logo-container" href="{{ site.baseurl }}/" class="brand-logo"><img src="http://placehold.it/115x57"></a>
              </li>
              {% for page in site.pages %}
                {% if page.title %}
                  <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>